.App {
  text-align: center;
}

/* TOP SECTION */


.menubar {
  color: white;
  background: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.menulinks > li {
  list-style-type: none;
  display: inline-block;
  margin-left: 60px
}

#logo {
  margin-left: auto;
  margin-right: 100px;
}

.header {
  background: black;
}

#logo > img {
  width: auto;
  height: 60px;
}

.header > #header-img > img {
  width: 100%;
}

.header > #sneaker-img > img {
  width: auto;
  height: 75px;
  margin: 10px;
}

/* COMPANY SECTION */


.company-container {
  margin-top: 50px;
  margin-bottom: 50px
}

.company-container > h1 {
  line-height: 60px;
  font-size: 60px; 
  font-weight: 50;
}

.company-container > hr {
  border: 1px solid red;
  width: 50%;
  margin-bottom: 40px;
  
}

/* SOCIAL SECTION */


.social-container {
  color: white;
  background: black;
}

.social-container > h1 {
  line-height: 60px;
  font-size: 60px; 
  font-weight: 50;
  display:inline-block;
  margin: 40px
}

.social-links > a > img {
  width: auto;
  height: 100px;
}

.social-links {
  margin: auto;
  padding-bottom: 40px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

/* ABOUT SECTION */

.about-menu > ul {
 margin: auto;
 width: 90%;
 display: flex;
 justify-content: space-around;
 color: white;
 background-color: red;
}

.about-menu > ul > li {
  list-style-type: none;
  display: inline-block;
}


.about-container {
  width: 95%;
  margin: auto;
}

.about-container > h1{
  line-height: 60px;
  font-size: 60px; 
  font-weight: 50;
}


.tab {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  display: flex;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: black;
  justify-content: space-around;
}

.tablinks {
  display: inline-block;
}

.tab button {
  color: white;
  width: 100%;
  background-color: inherit;
  float: left;
  border: none;
  outline: 1px solid red;
  cursor: pointer;
  padding: 14px 50px;
  transition: 0.3s;
}


.tab button:hover {
  background-color: red;
}


.tab button.active {
  background-color: red;
}

.tabcontent {
  display: none;
  border-top: none;
}

.tabcontent > img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* CONTACT SECTION */

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  margin: auto;
  max-width: 75%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}