.App {
  text-align: center;
}

.menubar {
  color: white;
  background: black;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.menulinks > li {
  list-style-type: none;
  display: inline-block;
  margin-left: 60px
}

#logo {
  margin-left: auto;
  margin-right: 100px;
}

.header {
  background: black;
}

#logo > img {
  width: auto;
  height: 60px;
}

.header > #header-img > img {
  width: 100%;
}

.header > #sneaker-img > img {
  width: auto;
  height: 75px;
  margin: 10px;
}

.company-container {
  margin-top: 50px;
  margin-bottom: 50px
}

.company-container > h1 {
  line-height: 60px;
  font-size: 60px; 
  font-weight: 50;
}

.company-container > hr {
  border: 1px solid red;
  width: 50%;
  margin-bottom: 40px;
  
}

.social-container {
  color: white;
  background: black;
}

.social-container > h1 {
  line-height: 60px;
  font-size: 60px; 
  font-weight: 50;
  display:inline-block;
  margin: 40px
}

.social-links > img {
  width: auto;
  height: 100px;
}

.social-links {
  margin: auto;
  padding-bottom: 40px;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

/* .social-container > img {
} */
